In [1]:
import pandas as pd

### ***EXERCISE 2.1***
Using the pandas documentation, find a way to read the file `data/wine-reviews/exercise_2.1.txt` in the following way:
- read the file as tab-separated
- parse the date in the `date of rating` column, in day/month format
- set `country` as the index
- skip the 3rd and 4th rows

In [2]:
pd.read_csv(
    'data/wine-reviews/exercise_2.1.txt', 
    sep='\t', 
    parse_dates=['date of rating'], 
    dayfirst=True,
    index_col='country',
    skiprows=[2,3]
)

,wine_id,description,designation,points,date of rating
country,,,,,
Italy,0,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,2015-12-01
US,3,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,2015-08-07
US,4,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,2014-10-17
Spain,5,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,2015-11-26

### ***EXERCISE 2.2***
Create a DataFrame like the following:

|    	| r   	| g   	| b  	| hex     	|
|--------	|-----	|-----	|----	|---------	|
| blue   	| 0   	| 0   	| 1  	| #0000ff 	|
| olive  	| 85  	| 107 	| 47 	| #556B2F 	|
| sienna 	| 160 	| 82  	| 45 	| #A0522D 	|

In [3]:
pd.DataFrame({
    'r': {'blue': 0, 'olive': 85, 'sienna': 160},
    'g': {'blue': 0, 'olive': 107, 'sienna': 82},
    'b': {'blue': 1, 'olive': 47, 'sienna': 45},
    'hex': {'blue': '#0000ff', 'olive': '#556B2F', 'sienna': '#A0522D'}
})

          r    g   b      hex
blue      0    0   1  #0000ff
olive    85  107  47  #556B2F
sienna  160   82  45  #A0522D