In [1]:
import pandas as pd

df = pd.read_csv('../data/wine-reviews/winemag-data-130k-v2.csv', index_col='wine_id')

### ***EXERCISE 3.1***
Get a DataFrame with just `count` and `mean` (first 2 rows) of the numeric columns

In [2]:
df.describe().head(2)

              points          price
count  129971.000000  120975.000000
mean       88.447138      35.363389

### ***EXERCISE 3.2***
Show the 6 least common countries (in absolute value) and the 3 most common wine varieties (in percentage)

In [3]:
df['country'].value_counts().tail(6)

Luxembourg                6
Armenia                   2
Bosnia and Herzegovina    2
China                     1
Egypt                     1
Slovakia                  1
Name: country, dtype: int64

In [4]:
df['variety'].value_counts().head(3)

Pinot Noir            13272
Chardonnay            11753
Cabernet Sauvignon     9472
Name: variety, dtype: int64