In [1]:
import pandas as pd

### ***EXERCISE 7.1***
Take the Dataframe provided below and add a column called 'hello' containing a list of 3 greetings of your choice.
Then rename it to 'greetings'.

In [4]:
df = pd.DataFrame({'Name': ['Bob', 'Mary', 'John'], 'Cats':[2,0,3], 'Dogs':[1,2,4]})

df['hello'] = ['hi', 'yo', 'how do you do?']
df.rename(columns={'hello': 'greetings'}, inplace=True)

df

   Name  Cats  Dogs       greetings
0   Bob     2     1              hi
1  Mary     0     2              yo
2  John     3     4  how do you do?

### ***EXERCISE 7.2***
Parse the dates and remove the duplicates timestamps of the data below

In [28]:
df = pd.DataFrame({i: pd.np.random.randn(6) for i in range(3)}, index=[f'D0{i}M10Y2016' for i in (3,4,3,4,5,3)])
df.index = pd.to_datetime(df.index, format='D%dM%mY%Y')
df=df[~df.index.duplicated()]
df

                   0         1         2
2016-10-03 -2.946967 -0.568757 -0.815649
2016-10-04  0.828598  1.832843  0.897559
2016-10-05 -0.893813  1.445051  1.021841

### ***EXERCISE 7.3***
create and apply a function over the rows that returns the squared number of cats if the number of dogs is even, 0 otherwise

In [30]:
df = pd.DataFrame({'Name': ['Bob', 'Mary', 'John'], 'Cats':[2,0,3], 'Dogs':[1,2,4]})
def squared_or_zero_cats(row):
    return row['Cats']**2 if row['Dogs']%2==0 else 0

df.apply(squared_or_zero_cats, axis=1)

0    0
1    0
2    9
dtype: int64