In [3]:
import pandas as pd
import numpy as np

### ***EXERCISE 8.1***
Prove that main pandas operation ignore missing data by creating a copy of the following `s1` Series provided, where all NaN have been removed. Name the amended copy `s2`.
Compare the `.mean()` results of the two Series.

***HINT***: the same methods used for the dataframes above work for Series

In [7]:
s1 = pd.Series([1,2,np.nan,4])
s2 = s1.dropna()

print(s1, '\nsums up to:', s1.mean(), '\n\n', s2, '\nsums up to:', s2.mean())

0    1.0
1    2.0
2    NaN
3    4.0
dtype: float64
sums up to: 2.3333333333333335

 0    1.0
1    2.0
3    4.0
dtype: float64
sums up to: 2.3333333333333335

### ***EXERCISE 8.2***
Get the sum total of all the values in the `df` provided, only including rows where either 'quality1' or quality2' is not missing.

In [8]:
df = pd.DataFrame({
    'quality1': [100,92,30,np.nan,np.nan,15], 
    'value':[7,4,8,1,9,2],
    'quality2': [89,88,np.nan,np.nan,1,100], 
})

df.dropna(how='all', subset=['quality1', 'quality2'])['value'].sum()

30